<!DOCTYPE html>
<html>
	<head>
		<title>new phone who dis</title>
		<style type="text/css">
			#container {
				border: 3px solid black;
				width: 50%;
				max-width: 800px;
				height: 150px;
				overflow: auto;
				margin: 0 auto;
				margin-top: calc((100vh - 150px) / 2);
				padding: 1em;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<form>
				<i>telephone</i>: (<input type="text" name="area" maxlength="3" size="3" />) - <input type="tel" name="first" maxlength="3" size="3" /> - <input type="tel" name="last" maxlength="4" size="4" /> <br /><br />
				<i>name</i>: <input type="text" name="name" /><br /><br/>
				<input type="submit" />
			</form>
		</div>
	</body>
</html>